<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <diagnostics performanceCounters="Default" />
    <protocolMapping>
      <add scheme="https" binding="basicHttpsBinding" />
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Meta">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:46468/NameService/meta"
            httpGetBinding="webHttpBinding" />
          <serviceCredentials />
          <serviceDiscovery />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Meta" name="Services.NameService">
        <endpoint address="http://localhost:46468/NameService" binding="netHttpBinding"
          bindingConfiguration="nb1" name="NameService" contract="Interface.INameService" />
        <endpoint address="http://localhost:9562/NameService" binding="netHttpBinding"
          bindingConfiguration="nb2" name="NameService1" contract="Interface.INameService" />
        <endpoint address="http://localhost:46446/NameService" binding="basicHttpBinding"
          bindingConfiguration="basic3" name="NameService3" contract="Interface.INameService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basic1">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="basic2"></binding>
        <binding name="basic3"></binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="ws1"></binding>
        <binding name="ws2"></binding>
      </wsHttpBinding>
      <netHttpBinding>
        <binding name="nb1"></binding>
        <binding name="nb2"></binding>
      </netHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>