<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Meta">
          <serviceMetadata httpGetUrl="http://localhost:46468/NameService/meta" httpGetEnabled="true" httpGetBinding="webHttpBinding"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Meta" name="Services.NameService">
        <endpoint address="http://localhost:46468/NameService" binding="basicHttpBinding"
          bindingConfiguration="basic1" name="NameService" contract="Interface.INameService" />
        <!--<endpoint address="http://localhost:9562/NameService" binding="basicHttpBinding"
          bindingConfiguration="basic2" name="NameService1" contract="Interface.INameService" />-->
        <endpoint address="http://localhost:9562/NameService" binding="basicHttpBinding"
          bindingConfiguration="basic2" name="NameService1" contract="Interface.INameService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basic1"></binding>
        <binding name="basic2"></binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>